@import "tailwindcss";
@import "leaflet/dist/leaflet.css";
/* src/index.css */
:root {
  --font-sans: "Inter", sans-serif;
  --color-bg: #f9fafb;
  --color-text: #111827;
}

/* Base reset and defaults */
body {
  margin: 0;
  padding: 0;
  background-color: var(--color-bg);
  color: var(--color-text);
}
